/* carousel.module.css */
.carouselContainer {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden; /* Hide overflow to only show one image at a time */
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImage {
    top: 10%;
    position: relative;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    position: absolute; /* Position absolute to overlap images */
    width: calc(100% - 40px); /* Adjust width to account for margins */
   
    /* Maintain aspect ratio and cover the area */
    border-radius: 10px; /* Add border radius */
}

.greyed {
    filter: grayscale(100%); /* Grey out previous and next images */
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

/* Neon effect for active image */
.carouselImage.active {
    box-shadow:
        inset 0px 0px 20px #ffffff,
        inset -5px -5px #ffffff; /* White neon glow */
}

/* Indicators styles */
.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Space between carousel and indicators */
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius:50%;
    background-color:#bbb; /* Grey color for inactive indicators */
    margin-right:5px; /* Space between indicators */
    cursor:pointer; /* Pointer cursor for clickable indicators */
}

.activeIndicator {
   background-color:#ffffff; /* Green color for active indicator */
}
